@using SKASP.DOMAIN.EntitiesModel
@model SKASP.DOMAIN.ViewModels.MessageViewModel
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<link href="@Url.Content("../../Styles/Chat.css")" rel="stylesheet"/>
<div align="center" style="font-family: Calibri">
	@using (Html.BeginForm("PostChat", "Chat", FormMethod.Post)){
		<div align="center" style="font-family: Calibri">
			@Html.Hidden("ID", Model.CurrrentMessage.ID)
			<p style="color: White;">User Name</p>
			@Html.Display("MsgOwner", Model.CurrrentMessage.MsgOwner)
			<p style="color: White;">Name</p>
			@Html.Editor("Name", Model.CurrrentMessage.Name)
			<p style="color: White;">Message</p>
			@Html.Editor("Data", Model.CurrrentMessage.Data)
		</div>
			<div align="center">
				<input type="submit" ID="SendMessageBtn" value="Send Message"	class="btn btn-primary btn-large"/>
			</div>
		}


	<br/>
	<div align="center" style="font-family: Calibri">
        
		@foreach (MessageStorage msg in Model.MessageRepo.Repository)
		{
			Html.RenderPartial("_MessageViewer", msg);
		}
	</div>
	<br/>
	<input type="button" ID="ReturnBtn" value="Return to Main Page" CssClass="btn btn-primary btn-large" />
	<br/>    
</div>
